{% extends 'base.html.twig' %}

        {% block stylesheets %}
            <link href="{{ asset('css/accueil.css') }}" rel="stylesheet" />
        {% endblock %}

    {% block body %}
        <img src="{{ asset('images/covoiturage.jpg') }}" alt="image-carpooling" class="accueil-image">

        {% if app.user is defined%}
            <div class="links-container">
                <a class="bouton-ressemble" href="/logout">Logout</a>

                {% if app.user.isadherent == false %}
                    <a class="bouton-ressemble" href=" {{ path('devenir_adherent', { 'id': user.id }) }}" onclick="alertAdh()"> Devenir adherent</a>
                {% endif %}

            </div>
        {% else %}
            <div class="links-container">
                <a class="bouton-ressemble" href="/login">Login</a>
                <a class="bouton-ressemble" href="/inscription">Inscription</a>
            </div>
        {% endif %}






    {% endblock %}

    {% block javascripts %}
        <script>
            function alertAdh() {
                confirm('Etes-vous sur de vouloir devenir adherent ?')
            }
        </script>
    {% endblock %}
