{% extends 'base.html.twig' %}

        {% block stylesheets %}
            <link href="{{ asset('css/accueil.css') }}" rel="stylesheet" />
        {% endblock %}

    {% block body %}
        <img src="{{ asset('images/covoiturage.jpg') }}" alt="image-carpooling" class="accueil-image">

        {% if user is defined%}
            <div class="links-container">
                <a class="bouton-ressemble" href="/logout">Logout</a>
{#                <a class="bouton-ressemble" href="/adherent">Devenir adherent</a>#}
            </div>
        {% else %}
            <div class="links-container">
                <a class="bouton-ressemble" href="/login">Login</a>
                <a class="bouton-ressemble" href="/inscription">Inscription</a>
            </div>
        {% endif %}



    {% endblock %}

    {% block javascripts %}

    {% endblock %}
