{% extends 'base.html.twig' %}

        {% block stylesheets %}
            <link href="{{ asset('css/inscription.css') }}" rel="stylesheet" />
        {% endblock %}

    {% block body %}

        <h2>Login Form</h2>

        <form action="/action_page.php" style="border:1px solid #ccc">
            <div class="container">
                <h1>Inscrivez-vous</h1>
                <p>Veuillez remplir ce formulaire pour créer un compte.</p>
                <hr>

                <label for="email"><b>Email</b></label>
                <input class="email-input" type="text" placeholder="Entrez votre e-mail" name="uemail" required>

                <label for="psw"><b>Mot de passe</b></label>
                <input id="psw" type="password" placeholder="Entrez un mot de passe" name="upsw" required>

                <label for="psw-repeat"><b>Répétez le mot de passe</b></label>
                <input id="rpsw" type="password" placeholder="Répétez le mot de passe" name="psw-repeat" required
                    onmouseleave="checkPassword()">


                <p>En créant un compte, vous acceptez nos termes de<a href="https://fr.wikipedia.org/wiki/Anonymous_(collectif)" style="color:dodgerblue"> Conditions et confidentialité</a></p>

                <div class="clearfix">
                    <button type="button" class="cancelbtn" onclick="annuler()">Annuler</button>
                    <button type="submit" class="signupbtn">S'inscrire</button>
                </div>
            </div>
        </form>


    {% endblock %}

    {% block javascripts %}
        <script>
            function annuler() {
                document.getElementById('emailInput').value = '';
                document.getElementById('pswInput').value = '';
            }

            function checkPassword() {
                let password = document.getElementById('psw');
                let repeatedPassword = document.getElementById('rpsw');

                if(password.value && repeatedPassword.value) {
                    if(password.value != repeatedPassword.value) {
                        repeatedPassword.value = '';
                        alert('Les mots de passe ne correspondent pas');
                    }
                }
            }
        </script>
    {% endblock %}



